*/node_modules
*/build
!Haproxy.Editor.Deployment/build
*.map
logs
front/.bitmap
.idea
front/.bit
*.pyc
*.jar

bin
obj
*/apis/generated/docs/
*.user
Haproxy.Editor.Front/src/core/apis/generated/docs
.vs
.vite
.claude/settings.local.json
.claude
Haproxy.Editor.Front/test-results
