@import "../variables";

@mixin colorOvertime {
	transition: all ease-in-out 0.2s;

	&:hover {
		color: red
	}
}

.Backend {
	padding: 1.5rem 1rem;
	width: $width;
	position: relative;

	.close-btn {
		position: absolute;
		right: $close-icon-right-pos;
		top: 0.5rem;

		@include colorOvertime()
	}


	.header {

		.name {
			input {
				font-size: 105%;
				font-weight: 600;
			}
		}
	}

	.select-label, .MuiFormControlLabel-label {
		transform: scale(0.75);
	}

	.alter {
		display: flex;
		position: relative;
		margin-bottom: 1rem;

		.backend-name {

			.MuiInputBase-root {
				width: 9rem;
			}
		}

		> div {
			margin-right: 2rem;
		}

		.MuiFormControl-root {
			width: 100%;
		}

		.remove-backend-btn {
			@include colorOvertime()
		}

		.MuiFormControlLabel-labelPlacementTop {
			margin-left: 0;
		}
	}
}

