
global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
		timeout connect 5000
		timeout client  50000
		timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend http
	mode http
	bind 0.0.0.0:80

	bind 0.0.0.0:443 ssl crt /etc/ssl/elyspio.fr/elyspio.fr.pem
	http-request redirect scheme https unless { ssl_fc }

	use_backend letsencrypt-backend if { path -i -m beg /.well-known/acme-challenge/ }
	use_backend externalServer if { path -i -m beg /external-server/ }
	use_backend authentication if { path -i -m beg /authentication/ }
	use_backend haproxy if { path -i -m beg /haproxy/ }
	use_backend updater if { path -i -m beg /updater/ }
	use_backend runner-aero if { path -i -m beg /runner/aero/ }
	use_backend runner if { path -i -m beg /runner/ }


backend letsencrypt-backend
	mode http
	server letsencrypt 127.0.0.1:8888

backend externalServer
	mode http
	server externalServer 127.0.0.1:4000 check
	http-request set-uri %[url,regsub(/external-server/,/,)] if { path -i -m beg /external-server/ }

backend haproxy
	mode http
	server haproxy 127.0.0.1:4001 check
	http-request set-uri %[url,regsub(/haproxy/,/,)] if { path -i -m beg /haproxy/ }

backend authentication
	mode http
	server authentication 127.0.0.1:4002 check
	http-request set-uri %[url,regsub(/authentication/,/,)] if { path -i -m beg /authentication/ }

backend updater
	mode http
	server updater 127.0.0.1:4003 check
	http-request set-uri %[url,regsub(/updater/,/,)] if { path -i -m beg /updater/ }

backend runner
	mode http
	server runner 127.0.0.1:4004 check
	http-request set-uri %[url,regsub(/runner/,/,)] if { path -i -m beg /runner/ }

backend runner-aero
	mode http
	server runner-aero 192.168.0.40:4004 check
	http-request set-uri %[url,regsub(/runner/aero/,/,)] if { path -i -m beg /runner/aero/ }





